    <div class="row">
        <div class="col-8">
            <h1>Hola, esta es una foto de la maldad.</h1>
        </div>
         <div class="col-4">
           <img src="assets/img/foto.jpg" class="img-thumbnail">
        </div>
       
    </div>
